<h1>Get your Exotische Burger Kunst on</h1>

<h2> Exotische Burgers not eaten!</h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burgers/burger-block devour=true}}
		{{/unless}}
	{{/each}}
</ul>

<h2> Exotische Burgers eaten!</h2>

<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burger-block devour=false}}
		{{/if}}
	{{/each}}
</ul>

<h2>Dare to Exotische?</h2>
<form class="create-form">

	<div class="form-group">
		<label for="brg">Burger Name:</label>
		<input type="text" id="brg" name="burger_name">
	</div>
	
	<div class="form-group">
		<label for="devour">Regurgitate?</label><br>
		<input type="radio" name="devoured" value="1" checked> Devoured!<br>
		<input type="radio" name="devoured" value="0"> Create Exotische Burger
	</div>
	
	<button type="submit"> Add Burger</button>
</form>				
